<!-- <div class=" dropdown pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    排序
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><%= link_to('按照职缺薪资下限排序',jobs_path(order: 'by_lower_bound'))%></li>
        <li><%= link_to('按照职缺薪资上限排序',jobs_path(order: 'by_upper_bound'))%></li>
        <li><%= link_to('按发表时间顺序',jobs_path) %></li>
    </ul>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td>职缺</td>
            <td>薪资下限</td>
            <td>薪资上限</td>
            <td>刊登时间</td>
        </tr>
    </thead>
    <tbody>
        <% @jobs.each do |job| %>
        <tr>
            <td><%= link_to(job.title,job_path(job)) %></td>
            <td><%= job.wage_lower_bound %></td>
            <td><%= job.wage_upper_bound %></td>
            <td><%= job.created_at %></td>
        </tr>
        <% end %>
    </tbody>
</table> -->
<div class="job-list">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <% @jobs.each do |job| %>
            <div class="panel panel-default">
            	<div class="panel-heading">
            		<h3 class="panel-title">
            			<%= link_to(job.title,job_path(job)) %>
            		</h3>
            	</div>
            	<div class="panel-body">
            		<div class="info-desc">
                        <div><%= job.description %></div>
                        <div ><%= job.created_at %></div>
                    </div>
                    <div class="info-company">
                        <div class="company-text">
                            <div class="company-saraly">
                                <span class="red"><%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %></span>
                            </div>
                            <p><%= job.contact_email %></p>
                        </div>
                    </div>
            	</div>
            </div>
            <% end %>

        </div>
    </div>
    
</div>
