<section id="jumbotron" class="jumbotron">
    <div class="container">
        <div class="row">
            <h1 class="title">求职从此与众不同</h1>
            <div class="slogan">
                <br>
                <p>人生不设限</p>
                <br>
                <p>凭着努力和天资你也会变人生赢家</p>
            </div>
            <div class="lead">
                <a class="btn btn-lg btn-welcome" href="/jobs">马上应聘</a>
            </div>
        </div>
    </div>
</section>
<section id="feature" class="our-experts">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="section-title">遇见更好的机会，体验更精彩的人生</h2>
                <div class="short-line"></div>
                <p class="index-contect">
                    职赢网由全球知名连续创业者Stan Lee创立。<br>
                    我们利用硅谷最新演算法，分析全球一流互联网团队需求，及卓越求职者的信息，创立了独一无二的配对模式，让优秀企业与人才的连结更为精准、快速。
                </p>
                <%= image_tag("feature.png",class: '') %>
            </div>
        </div>
    </div>
</section>
<!--======== 合作伙伴 =========-->
<section id="brand" class="our-brand">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h2 class="section-title">合作伙伴</h2>
                    <div class="short-line"></div>
                    <%= image_tag("google.png") %>
                    <%= image_tag("instagram.png") %>
                    <%= image_tag("facebook.png") %>
                    <%= image_tag("airbnb.png") %>
                    <%= image_tag("amazon.png") %>
                    <%= image_tag("flickr.png") %>
                    <%= image_tag("twitter.png") %>

                    <%= image_tag("palantir.png") %>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======== end 合作伙伴 =========-->
<div class="footer-top">
    <div class="col-md-8 col-md-offset-2">
        <div class="col-md-2 col-xs-4 text-center">
            <h4>工作机会</h4>
            <ul class="list-unstyled">
                <li>
                    <a href="#s">求职专区</a>
                </li>
                <li>
                    <a href="#s">海外工作</a>
                </li>
                <li>
                    <a href="#s">兼职外包</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2 col-xs-4 text-center">
            <h4>企业资源</h4>
            <ul class="list-unstyled">
                <li>
                    <a href="#s">线下培训</a>
                </li>
                <li>
                    <a href="#s">联合招聘</a>
                </li>
                <li>
                    <a href="#s">加值服务</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2 col-xs-4 text-center">
            <h4>关于我们</h4>
            <ul class="list-unstyled">
                <li>
                    <a href="#s">公司介绍</a>
                </li>
                <li>
                    <a href="#s">常见问题</a>
                </li>
                <li>
                    <a href="#s">联系方式</a>
                </li>
            </ul>
        </div>
        <div class="col-md-5 col-xs-12 footer-box">
            <a href="#s"><%= image_tag("link_facebook.png") %></a>
            <a href="#s"><%= image_tag("link_google-plus.png") %></a>
            <a href="#s"><%= image_tag("link_linkedin.png") %></a>
            <a href="#s"><%= image_tag("link_twitter.png") %></a>
            <div class="footer-content wechat-pos">
                <%= image_tag("wechat.png") %>
                louts

            </div>
        </div>
    </div>
</div>
