<div class="pull-right">
    <%= link_to("Add a job",new_job_path,class: 'btn btn-default')%>
</div>
<table class="table table-striped">
    <% @jobs.each do |job| %>
    <tr>
        <td>
            <%= render_job_status(job) %>
            <%= link_to(job.title,job_path(job)) %>
        </td>
        <td>
            <%= link_to('修改',edit_job_path(job),class: "btn btn-default") %>
            <%= link_to('删除',job_path(job),method: :delete,data: {confirm: "Are you sure?"},class: "btn btn-default") %>
            <% if job.is_hidden %>
                <%= link_to('Publish', publish_admin_job_path(job),class: "btn btn-success btn-xs",method: :post) %>
            <% else %>
                <%= link_to('Hide', hide_admin_job_path(job),class: "btn btn-primary btn-xs",method: :post) %>
            <% end %>
        </td>
        <td><%= job.created_at %></td>
    </tr>
    <% end %>
</table>
